name: Build PK3
description: Builds the PK3
runs:
  using: "composite"
  steps:
  - uses: actions/checkout@v4
  - uses: montudor/action-zip@v1
    with:
      args: zip -r "HDest-Critters-${{ env.SUFFIX }}.pk3" . -i sounds/* sprites/* zscript/* CVARINFO KEYCONF LANGUAGE LICENSE MAPINFO MENUDEF README.md SNDINFO ZSCRIPT.zs
